.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-container {
  align-self: center;
  flex-direction: column;
  display: flex;
  margin-top: 100px;
  height: auto;
}

.form-container img {
  margin-bottom: 50px;
}

.form-container h1 {
  color: #34383b;
  align-self: flex-start;
  font-size: 26px;
  font-weight: 700;
}

.form-container label {
  color: #2a3034;
  width: 350px;
  margin-top: 20px;
  font-size: 14px;
}

.form-container select {
  width: 350px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #cbd4da;
  color: #757575;
  font-size: 16px;
  padding: 12px 11px;
  margin: 5px 0;
  font-weight: 500;
}

.form-container input {
  width: 350px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #cbd4da;
  color: #757575;
  font-size: 16px;
  padding: 12px 11px;
  margin: 5px 0;
  font-weight: 500;
}

.form-container::placeholder {
  color: #757575;
  font-size: 16px;
}

.form-container input:focus {
  outline-color: #0072bb;
  outline-width: 1px;
  outline-style: solid;
  border: none;
  color: #0072bb;
}

.form-container select:focus {
  outline-color: #0072bb;
  outline-width: 1px;
  outline-style: solid;
  border: none;
  color: #0072bb;
}

.form-container button {
  width: 175px;
  height: 45px;
  background-color: #0072bb;
  border-radius: 5px;
  border: none;
  color: #f5f5f5;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.form-container button:hover {
  cursor: pointer;
  background-color: #258ac9;
}

.form-container p {
  margin: 20px 0;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

.form-container a {
  text-decoration: underline;
  color: #0072bb;
}
