.pending-tasks {
  display: grid;
  width: 33%;
  align-self: self-start;
  padding: 5px;
  align-items: center;
  grid-gap: 5px;
  border: solid 2px rgb(153, 146, 160);
}

.pending-tasks button {
  color: red;
  padding: 5px;
  background-color: white;
  margin: 10px 0;
}

.items {
  display: grid;
  width: 100%;
}

.header {
  font-weight: 800;
  margin: 1rem 0;
  text-align: center;
}

.card {
  padding: 1rem 1.2rem;
  /* background: rgba(var(--card-rgb), 0); */
  border: solid 3px rgb(255, 0, 0);
  transition: background 200ms, border 200ms;
  margin: 3px 0;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.suggested-task {
  display: grid;
  width: 33%;
  align-self: flex-start;
  padding: 5px;
  align-items: center;
  margin: 0 50px;
  border: solid 2px rgb(153, 146, 160);
}

.suggested-task .card {
  border: solid 2px rgb(255, 255, 255);
}

.suggested-task form {
  margin-top: 150px;
  text-align: center;
}

.suggested-task form h2 {
  text-align: center;
}

.suggested-task form input[type='text'] {
  display: inline-block;
  font: 1rem 'Fira Sans', sans-serif;
  background: white;
  border: solid 1px grey;
  width: 100%;
  height: 30px;
  margin: 7px 0;
  color: black;
}

.suggested-task form button {
  display: inline;
  font: 1.5rem 'Fira Sans', sans-serif;
  background: rgb(0, 0, 0);
  border: solid 1px grey;
  width: 100%;
}

.add-task {
  display: grid;
  width: 33%;
  align-self: center;
  padding: 5px;
  align-items: center;
  margin: 0 50px;
  border: solid 2px rgb(153, 146, 160);
}

.mark-as-done {
  padding: 4px;
  background: grey;
  margin: 5px 0;
  font: 100;
  color: wheat;
}

.completed-tasks {
  display: grid;
  width: 33%;
  align-self: self-start;
  padding: 5px;
  align-items: center;
  grid-gap: 5px;
  border: solid 2px rgb(153, 146, 160);
}

.completed-tasks .card {
  padding: 1rem 1.2rem;
  border: solid 3px rgb(0, 255, 0);
  transition: background 200ms, border 200ms;
  margin: 3px 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
}

.grid {
  display: grid;
  width: var(--max-width);
  max-width: 100%;
}

@media only screen and (max-width: 950px) {
  .pending-tasks {
    display: inline-block;
    width: 100%;
    align-self: self-start;
    padding: 5px;
    align-items: center;
    grid-gap: 5px;
    border: solid 2px rgb(153, 146, 160);
  }

  .suggested-task {
    display: grid;
    width: 100%;
    align-self: flex-start;
    padding: 5px;
    align-items: center;
    margin: 50px 0;
    border: solid 2px rgb(153, 146, 160);
  }

  .completed-tasks {
    display: grid;
    width: 100%;
    align-self: self-start;
    padding: 5px;
    align-items: center;
    grid-gap: 5px;
    border: solid 2px rgb(153, 146, 160);
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}
