.label-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e1114;
  margin: 0 40px;
  padding: 30px;
  border-radius: 5px;
  height: calc(100vh - 150px);
}

.label-area p {
  color: white;
  align-self: flex-start;
}

.label-area .header {
  display: flex;
  border-bottom: 1px solid lightblue;
  margin-top: 15px;
  padding-bottom: 5px;
  font-size: larger;
  width: 500px;
}

.label-area .header img {
  margin-left: auto;
}

.label-area .header img:hover {
  background-color: gray;
  border-radius: 3px;
  transition: ease-in 0.2s;
  cursor: pointer;
}

.individual-label {
  border-bottom: 1px solid lightblue;
  width: 500px;
  display: flex;
  padding-bottom: 3px;
  padding: 10px 0;
}

.individual-label img:hover {
  cursor: pointer;
}

.add-label-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #0c0e10;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-out;
}

.show-add-label-container {
  visibility: visible;
  opacity: 1;
  transition: all 0.35s ease-out;
}

.add-label-header {
  display: flex;
  border-bottom: 1px solid white;
  padding: 5px;
  font-size: x-large;
  color: white;
}

.add-label-input-area {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.add-label-input {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 5px 0;
}

.input-name {
  border: none;
  outline-style: none;
  outline-width: 0px;
  border-radius: 3px;
  height: 30px;
  padding: 5px;
  background-color: #1E2327;
}

.input-color {
  display: flex;
  border-radius: 3px;
  border: none;
  padding: 5px;
  font-size: small;
  line-height: 1.85;
  background-color: #1E2327;
}

.add-label-footer {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  border-top: 1px solid black;
}

.add-label-footer button {
  padding: 5px;
  border-radius: 3px;
  border: none;
  margin: 0 5px;
  text-align: center;
  width: 65px;
  font-size: medium;
  color: black;
}

.add-label-footer button:first-child {
  background-color: white;
}

.add-label-footer button:first-child:hover {
  background-color: lightcoral;
  cursor: pointer;
}

.add-label-footer button:last-child {
  background-color: rgb(37, 36, 36);
  color: white;
}

.add-label-footer button:last-child:hover {
  cursor: pointer;
  background-color: rgb(47, 46, 46);
}

.label-color-list {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #1E2327;
  border-radius: 3px;
  top: 73%;
  left: 3%;
  width: 375px;
  height: 250px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}

.show-label-color-list {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s linear;
}

.individual-label-color {
  display: flex;
  padding: 5px 0;
  font-size: smaller;
  line-height: 1.85;
}

.individual-label-color:hover {
  background-color: rgb(132, 146, 159);
  cursor: pointer;
}

.active {
  background-color: rgb(132, 146, 159);
}
