.navigation {
  display: flex;
  flex-direction: row;
  background-color: darkgray;
  justify-content: space-between;
}

.navigation .left_group {
  display: flex;
  align-items: flex-start;
}

.navigation .right_group {
  display: flex;
}

.menu {
  padding: 5px;
  height: 40px;
  width: 40px;
  margin: 5px 20px;
  border-radius: 3px;
}

.menu:hover {
  background-color: lightgray;
  color: wheat;
  cursor: pointer;
}

.search {
  background-color: white;
  border-radius: 3px;
  height: 30px;
  border: none;
  justify-self: flex-start;
  align-self: center;
}

.search:focus {
  outline-color: lightgray;
  outline-width: 1.5px;
  outline-style: solid;
  border: none;
}

.notification {
  padding: 5px;
  height: 40px;
  width: 40px;
  margin: 5px 20px;
  border-radius: 3px;
}

.add {
  padding: 5px;
  height: 40px;
  width: 40px;
  margin: 5px 0;
  border-radius: 3px;
}

.add:hover {
  cursor: pointer;
}
