.navigation {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  margin: 30px 15px;
  justify-content: space-between;
}

.navigation .left-group {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: 26px;
}

.navigation .right-group {
  display: flex;
  gap: 25px;
}

.nav-bar-icon {
  height: 40px;
}

.nav-bar-icon:hover {
  cursor: pointer;
}

.nav-account {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-account img {
  width: 70px;
}