.new-task {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: #323131;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-out;
}

.show-new-task-view {
  visibility: visible;
  opacity: 1;
  transition: all 0.35s ease-out;
}

.new-task input {
  outline-width: 0px;
  outline-style: none;
  height: 50px;
  padding: 0px;
  background-color: #323131;
  border-radius: 10px;
  border: none;
  font-size: large;
}

.new-task textarea {
  outline-style: none;
  outline-width: 0px;
  border: none;
  background-color: #323131;
  width: 430px;
  overflow-y: hidden;
  height: 30px;
}

.new-task textarea::placeholder {
  vertical-align: middle;
  line-height: normal; /* Reset line height for placeholder text */
  padding-top: 0;
}

.new-task .expanding-input {
  outline-style: none;
  outline-width: 0px;
  border: none;
  width: 430px;
  min-height: 30px;
  overflow-y: scroll;
  border: #323131 solid 2px;
  margin-bottom: 5px;
  font-size: medium;
}

.new-task .date-picker {
  font-size: small;
  height: 25px;
  width: 400px;
}

.new-task .date-picker:last-child {
  margin-bottom: 10px;
}

.new-task .new-task-props {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.new-task .individual-prop {
  border-radius: 5px;
  background-color: gray;
  margin-right: 5px;
  padding: 3px 6px;
  width: auto;
  display: flex;
  justify-content: center;
}

.new-task .new-task-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 10px 0;
  border-top: whitesmoke solid 2px;
}

.new-task .new-task-footer button {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 2px white solid;
  background-color: #323131;
  color: aliceblue;
  padding: 5px;
}

.new-task .new-task-footer button:hover {
  cursor: pointer;
  background-color: bisque;
}

.new-task .new-task-footer button:disabled {
  background-color: -internal-light-dark(
    rgba(239, 239, 239, 0.3),
    rgba(19, 1, 1, 0.3)
  );
  color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: -internal-light-dark(
    rgba(118, 118, 118, 0.3),
    rgba(195, 195, 195, 0.3)
  );
  pointer-events: none;
}

.new-task .priorities {
  display: flex;
  position: fixed;
  width: 100px;
  flex-direction: column;
  border-radius: 3px;
  background-color: black;
  top: 73%;
  left: 2%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.new-task .show-priorities {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}

.new-task .priorities .priority {
  display: flex;
  padding: 2px;
  border-bottom: 1px solid red;
}

.new-task .priorities .priority:last-child {
  border-bottom: none;
}

.new-task .priorities .priority:hover {
  cursor: pointer;
  background-color: #323131;
}

.new-task .labels-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 73.5%;
  left: 25.3%;
  background-color: #532222;
  border-radius: 4px;
  width: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.new-task .labels-list-open {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}

.new-task .individual-prop:hover {
  cursor: pointer;
}
